/*

  Icons fonts and styling

*/

@font-face {
  font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal
}
.fa{display:inline-block;
  font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-envelope-o:before{content:"\f003"}
.fa-file-text-o:before{content:"\f0f6"}
.fa-github-alt:before{content:"\f113"}

@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon-ghost:before {
  content: "\e000";
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 0.8em;
}

#nav-links i.fa {
  vertical-align: middle;
  text-align: center;
  font-size: 0.85em;
  width: 15px;
  margin-right: 5px;
  text-align: center;
}

/*

  Layout

*/

html, body, #container {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #cdcdcd;
  background-image: url('../img/silvernoise.png');
}

#container {
  min-height: 500px;
  overflow-x: hidden;
}

/*

Responsive layout

*/

@media (min-device-width: 1200px) {
  .responsive-large #banner h1 {
    margin-left: 150px;
  }.responsive-large #banner #gravatar {
    margin-left: 75px;
  }.responsive-large #nav-links {
    margin-left: 50px;
  }
}

.responsive-default #banner h1 {
  margin-left: 120px;
}.responsive-default #banner #gravatar {
  margin-left: 40px;
}.responsive-default #nav-links {
  margin-left: 15px;
}

.responsive-portrait #bubble-wrapper {
  top: 175px;
}.responsive-portrait #banner {
  margin-top: 20px;
}.responsive-portrait #banner h1 {
  margin-left: 30px;
  font-size: 50px;
  width: 500px;
}.responsive-portrait h1 span.first-letter {
  font-size: 65px;
}.responsive-portrait #banner #gravatar {
  margin-left: 25px;
}.responsive-portrait #nav-links {
  margin-left: 15px;
}

.responsive-tablets #bubble-wrapper {
  top: 140px;
}.responsive-tablets #banner {
  margin-top: -15px;
}.responsive-tablets #banner h1 {
  margin-left: 20%;
  font-size: 40px;
  width: 290px;
  line-height: 50px;
}.responsive-tablets #bubble-wrapper h2 {
  top: 55px;
  left: 45px;
  margin: 0;
  font-size: 55px;
}.responsive-tablets h1 span.first-letter {
  font-size: 50px;
}.responsive-tablets #banner #gravatar {
  margin-left: -388px;
  margin-top: 40px;
}.responsive-tablets #gravatar img {
  height: 90px;
}.responsive-tablets #nav-links {
  margin-left: -10px;
  float: left;
}

.responsive-phones #bubble-wrapper {
  top: 140px;
}.responsive-phones #banner {
  margin-top: -15px;
}.responsive-phones #banner {
  margin-top: -15px;
}.responsive-phones #banner h1 {
  margin-left: 90px;
  margin-top: 20px;
  font-size: 30px;
  width: 290px;
  line-height: 45px;
}.responsive-phones h1 span.first-letter {
  font-size: 45px;
}.responsive-phones #bubble-wrapper h2 {
  top: 45px;
  left: 25px;
  margin: 0;
  font-size: 50px;
}.responsive-phones #banner #gravatar {
  margin-left: -375px;
  margin-top: 25px;
}.responsive-phones #gravatar img {
  height: 80px;
}.responsive-phones #nav-links {
  margin-left: 0;
  margin-top: 0;
  float: left;
}.responsive-phones #nav-links * {
  display: inline-block;
  font-size: 0.9em;
  width: 50px;
}.responsive-phones #nav-links * i {
  display: none;
}

/*

Main layout and styles

*/

#banner {
  width: 100%;
  height: 158px;
  margin-top: 100px;
  background-image: url('../img/ribbon.png');
  background-repeat: repeat-x;
  transition: margin-top 0.3s ease;
  -webkit-transition: margin-top 0.3s ease;
  -moz-transition: margin-top 0.3s ease;
  -o-transition: margin-top 0.3s ease;
}

.setup #banner {
  margin-top: -170px;
}

#banner h1 {
  font-family: Cinzel, Times New Roman;
  font-weight: lighter;
  font-size: 60px;
  color: #ddd;
  text-transform: uppercase;
  text-shadow: -1px -1px #bbb;
  display: inline-block;
  float: left;
  margin-top: 35px;
  margin-bottom: 0;
  width: 590px;
}

h1 span.first-letter {
  font-size: 77px;
}

#gravatar {
  display: inline-block;
  float: left;
  margin-top: 35px;
}

#gravatar img {
  height: 100px;
  border-radius: 60px;
  box-shadow: 0px -1px 3px #888888;
}

#nav-links {
  display: block;
  margin-top: 25px;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
  float: left;
}

#nav-links span, #nav-links a {
  position: relative;
  color: #eee;
  text-decoration: none;
  display: block;
  height: 24px;
  width: 65px;
  line-height: 24px;
  font-size: 14px;
  margin: 3px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  z-index: 7;
}

// restrict hover effects on #nav-links to non-mobile screen sizes

.responsive-large #nav-links *:hover,
.responsive-default #nav-links *:hover,
.responsive-portrait #nav-links *:hover {
  cursor: pointer;
}

.responsive-large #nav-links *:hover i.fa,
.responsive-default #nav-links *:hover i.fa,
.responsive-portrait #nav-links *:hover i.fa {
  font-size: 1.2em !important;
}

.responsive-large #nav-links span:hover::before, .responsive-large #nav-links a:hover::before,
.responsive-default #nav-links span:hover::before, .responsive-default #nav-links a:hover::before,
.responsive-portrait #nav-links span:hover::before, .responsive-portrait #nav-links a:hover::before {
  position: absolute;
  width: 100%
  height: 100%;
  content: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  z-index: 7;
  opacity: 0.5;
}

/*

  one fancy list of links with a header

*/

#bubble-wrapper {
  position: absolute;
  top: 258px;
  min-height: 86px;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}


#bubble-wrapper h2 {
  position: absolute;
  top: 54px;
  left: 80px;
  margin: 0;
  font-size: 65px;
  opacity: 0.12;
  text-shadow: -1px -1px #bbb;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.setup #project-list {
  opacity: 0;
}

#project-list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: -3px;
  height: 100%;
  display: block;
  left:0;
  right: 0;
  min-height: 200px;
  width: 100%;

  opacity: 1;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}

.bubble {
  position: absolute;
  width: 94px;
  height: 94px;
  line-height: 94px;
  margin: 0;
  padding: 0;
  border-radius: 50px
  vertical-align: middle;
  z-index: 7;
}

.bubble span, .bubble a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  z-index: 5;
}

.bubble a[data-title]:hover:after {
  content: attr(data-title);
  text-shadow: 0 0 5px #888, 0 1px 6px #888, 0 2px 7px #888;
  position: absolute;
  top: 54px;
  left: -53px;
  width: 200px;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-align: center;
  padding: 2px;
  border-radius: 15px;
  z-index: 10;
  font-size: 15px;
}

.bubble span:hover, .bubble a:hover {
  z-index: 7;
}

.bubble:after {
  z-index: 6;
  content: url('../img/bubble1.png');
  position: absolute;
  left: -1px;
  top: 0;
  pointer-events: none;
}

/*

  cursor triggered animations

*/

#cursor-fun .ripple {
  z-index: 4;
  pointer-events: none;
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 1px #ddd;
  border-radius: 50px;
  opacity: 1;
  transition: all 0.9s linear;
  -webkit-transition: all 0.9s linear;
  -moz-transition: all 0.9s linear;
  -o-transition: all 0.9s linear;
}

#cursor-fun .ripple.ripple-grow {
  width: 70px;
  height: 70px;
  margin-left: -25px;
  margin-top: -25px;
  opacity: 0;
}

#cursor-fun .ripple.big-ripple {
  border: solid 2px #ddd;
  transition: all 0.9s ease-in;
  -webkit-transition: all 0.9s ease-in;
  -moz-transition: all 0.9s ease-in;
  -o-transition: all 0.9s ease-in;
}

#cursor-fun .ripple.big-ripple.ripple-grow {
  width: 3000px;
  height: 3000px;
  margin-left: -1500px;
  margin-top: -1500px;
  border-radius: 1500px;
  opacity: 0.3;
}
